/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_更新_at_2025_6_2_上午9_44_[更改]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_更新_at_2025_6_3_上午9_37_[更改]/FaultSeg3D_BEST.pth
/.idea/shelf/Uncommitted_changes_before_更新_at_2025_6_3_上午9_37_[更改]/FaultSeg3D_epoch_10_iou_0.7489_CP.pth
/.idea/shelf/Uncommitted_changes_before_更新_at_2025_6_3_上午9_37_[更改]/FaultSeg3D_epoch_20_iou_0.7911_CP.pth
/.idea/shelf/Uncommitted_changes_before_更新_at_2025_6_3_上午9_37_[更改]/FaultSeg3D_epoch_30_iou_0.8302_CP.pth
/.idea/shelf/Uncommitted_changes_before_更新_at_2025_6_3_上午9_37_[更改]/FaultSeg3D_epoch_40_iou_0.8444_CP.pth
/.idea/shelf/Uncommitted_changes_before_更新_at_2025_6_3_上午9_37_[更改]/FaultSeg3D_epoch_50_iou_0.8459_CP.pth
/.idea/shelf/Uncommitted_changes_before_更新_at_2025_6_3_上午9_37_[更改]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_更新_at_2025_6_3_上午9_37_[更改]/train_result.xlsx
/.idea/shelf/Uncommitted_changes_before_更新_at_2025_6_3_上午9_37_[更改]/val_result.xlsx
/.idea/shelf/在进行更新之前于_2025_6_22_下午7_58_取消提交了更改_[更改]/shelved.patch
/.idea/shelf/在进行更新之前于_2025_6_22_下午8_01_取消提交了更改_[更改]/shelved.patch
/.idea/shelf/在进行更新之前于_2025_6_22_下午8_03_取消提交了更改_[更改]/shelved.patch
/.idea/shelf/在进行更新之前于_2025_6_22_下午8_03_取消提交了更改_[更改]1/shelved.patch
/.idea/shelf/在进行更新之前于_2025_6_22_下午8_03_取消提交了更改_[更改]2/shelved.patch
/.idea/shelf/在进行更新之前于_2025_6_22_下午8_11_取消提交了更改_[更改]/shelved.patch
/.idea/shelf/_2025_6_22_7_58____.xml
/.idea/shelf/_2025_6_22_8_01____.xml
/.idea/shelf/_2025_6_22_8_03____.xml
/.idea/shelf/_2025_6_22_8_03____1.xml
/.idea/shelf/_2025_6_22_8_03____2.xml
/.idea/shelf/_2025_6_22_8_11____.xml
/.idea/shelf/Uncommitted_changes_before__at_2025_6_2_9_44___.xml
/.idea/shelf/Uncommitted_changes_before__at_2025_6_3_9_37___.xml
/.idea/FaultSeg3D_pytorch-main.iml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
